%gradient {
  background: #141e30;
  background: -webkit-linear-gradient(to top, #243b55, #141e30);
  background: linear-gradient(to top, #243b55, #141e30);
}

%gradient-v1 {
  background: #141e30;
  background: -moz-linear-gradient(to bottom, #243b55, #141e30);
  background: -webkit-linear-gradient(to bottom, #243b55, #141e30);
  background: linear-gradient(to bottom, #243b55, #141e30);
}

%bradesco-gradient {
  background: #CE0029;
  background: -webkit-linear-gradient(180deg, rgba(206, 0, 41, 1) 26%, rgba(254, 255, 255, 1) 66%);
  background: -moz-linear-gradient(180deg, rgba(206, 0, 41, 1) 26%, rgba(254, 255, 255, 1) 66%);
  background: linear-gradient(180deg, rgba(206, 0, 41, 1) 26%, rgba(254, 255, 255, 1) 66%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#CE0029", endColorstr="#FEFFFF", GradientType=0);
}

%gft-gradient {
  background: rgb(33, 62, 127);
  background: -moz-linear-gradient(180deg,
      rgba(33, 62, 127, 0.8995973389355743) 26%,
      rgba(255, 255, 255, 0.9023984593837535) 66%);
  background: -webkit-linear-gradient(180deg,
      rgba(33, 62, 127, 0.8995973389355743) 26%,
      rgba(255, 255, 255, 0.9023984593837535) 66%);
  background: linear-gradient(180deg,
      rgba(33, 62, 127, 0.8995973389355743) 26%,
      rgba(255, 255, 255, 0.9023984593837535) 66%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#213e7f", endColorstr="#ffffff", GradientType=1);
}

%frito-frt-gradient {
  background: rgb(221, 41, 78);
  background: -moz-linear-gradient(180deg,
      rgba(221, 41, 78, 0.8995973389355743) 26%,
      rgba(200, 228, 76, 0.896796218487395) 41%,
      rgba(102, 102, 250, 0.9023984593837535) 66%);
  background: -webkit-linear-gradient(180deg,
      rgba(221, 41, 78, 0.8995973389355743) 26%,
      rgba(200, 228, 76, 0.896796218487395) 41%,
      rgba(102, 102, 250, 0.9023984593837535) 66%);
  background: linear-gradient(180deg,
      rgba(221, 41, 78, 0.8995973389355743) 26%,
      rgba(200, 228, 76, 0.896796218487395) 41%,
      rgba(102, 102, 250, 0.9023984593837535) 66%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dd294e", endColorstr="#6666fa", GradientType=1);
}

%senac-gradient {
  background: rgb(0, 74, 143);
  background: -moz-linear-gradient(180deg,
      rgba(0, 74, 143, 1) 33%,
      rgba(255, 195, 129, 1) 63%,
      rgba(254, 145, 0, 1) 94%);
  background: -webkit-linear-gradient(180deg,
      rgba(0, 74, 143, 1) 33%,
      rgba(255, 195, 129, 1) 63%,
      rgba(254, 145, 0, 1) 94%);
  background: linear-gradient(180deg,
      rgba(0, 74, 143, 1) 33%,
      rgba(255, 195, 129, 1) 63%,
      rgba(254, 145, 0, 1) 94%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#004a8f", endColorstr="#fe9100", GradientType=1);
}