@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$purple-dark-v1: #2f195f;
$purple-dark-v2: #392f5a;
$floral-white: #fff8f0;
$b-shadow: 0px 16px 32px rgba(0, 0, 0, 0.16);

%gradient {
  background: hsla(302, 82%, 76%, 1);
  background: linear-gradient(
    90deg,
    hsla(254, 31%, 27%, 1) 0%,
    hsla(258, 40%, 68%, 1) 100%
  );
  background: -moz-linear-gradient(
    90deg,
    hsla(254, 31%, 27%, 1) 0%,
    hsla(258, 40%, 68%, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    hsla(254, 31%, 27%, 1) 0%,
    hsla(258, 40%, 68%, 1) 100%
  );
}

%gradient-v1 {
  background: rgb(47, 25, 95);
  background: -moz-linear-gradient(
    0deg,
    rgba(47, 25, 95, 1) 30%,
    rgba(57, 47, 90, 1) 68%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(47, 25, 95, 1) 30%,
    rgba(57, 47, 90, 1) 68%
  );
  background: linear-gradient(
    0deg,
    rgba(47, 25, 95, 1) 30%,
    rgba(57, 47, 90, 1) 68%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2f195f",endColorstr="#392f5a",GradientType=1);
}

%gft-gradient {
  background: rgb(33, 62, 127);
  background: -moz-linear-gradient(
    180deg,
    rgba(33, 62, 127, 0.8995973389355743) 26%,
    rgba(255, 255, 255, 0.9023984593837535) 66%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(33, 62, 127, 0.8995973389355743) 26%,
    rgba(255, 255, 255, 0.9023984593837535) 66%
  );
  background: linear-gradient(
    180deg,
    rgba(33, 62, 127, 0.8995973389355743) 26%,
    rgba(255, 255, 255, 0.9023984593837535) 66%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#213e7f",endColorstr="#ffffff",GradientType=1);
}

%frito-frt-gradient {
  background: rgb(221, 41, 78);
  background: -moz-linear-gradient(
    180deg,
    rgba(221, 41, 78, 0.8995973389355743) 26%,
    rgba(200, 228, 76, 0.896796218487395) 41%,
    rgba(102, 102, 250, 0.9023984593837535) 66%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(221, 41, 78, 0.8995973389355743) 26%,
    rgba(200, 228, 76, 0.896796218487395) 41%,
    rgba(102, 102, 250, 0.9023984593837535) 66%
  );
  background: linear-gradient(
    180deg,
    rgba(221, 41, 78, 0.8995973389355743) 26%,
    rgba(200, 228, 76, 0.896796218487395) 41%,
    rgba(102, 102, 250, 0.9023984593837535) 66%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dd294e",endColorstr="#6666fa",GradientType=1);
}

%senac-gradient {
  background: rgb(0, 74, 143);
  background: -moz-linear-gradient(
    180deg,
    rgba(0, 74, 143, 1) 33%,
    rgba(255, 195, 129, 1) 63%,
    rgba(254, 145, 0, 1) 94%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(0, 74, 143, 1) 33%,
    rgba(255, 195, 129, 1) 63%,
    rgba(254, 145, 0, 1) 94%
  );
  background: linear-gradient(
    180deg,
    rgba(0, 74, 143, 1) 33%,
    rgba(255, 195, 129, 1) 63%,
    rgba(254, 145, 0, 1) 94%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#004a8f",endColorstr="#fe9100",GradientType=1);
}

%poppins {
  font-family: "Poppins", sans-serif;

  &-thin {
    font-weight: 100;
  }

  &-extralight {
    font-weight: 200;
  }

  &-light {
    font-weight: 300;
  }

  &-regular {
    font-weight: 400;
  }

  &-medium {
    font-weight: 500;
  }

  &-semibold {
    font-weight: 600;
  }

  &-bold {
    font-weight: 700;
  }

  &-extrabold {
    font-weight: 800;
  }

  &-black {
    font-weight: 900;
  }

  &-thin-italic {
    font-weight: 100;
    font-style: italic;
  }

  &-extralight-italic {
    font-weight: 200;
    font-style: italic;
  }

  &-light-italic {
    font-weight: 300;
    font-style: italic;
  }

  &-regular-italic {
    font-weight: 400;
    font-style: italic;
  }

  &-medium-italic {
    font-weight: 500;
    font-style: italic;
  }

  &-semibold-italic {
    font-weight: 600;
    font-style: italic;
  }

  &-bold-italic {
    font-weight: 700;
    font-style: italic;
  }

  &-extrabold-italic {
    font-weight: 800;
    font-style: italic;
  }

  &-black-italic {
    font-weight: 900;
    font-style: italic;
  }
}

@mixin section-title($font-size: toRem(40)) {
  font-size: $font-size;
  color: $floral-white;
  @extend %poppins-light;
  width: fit-content;

  &::after {
    content: "";
    height: 2px;
    width: 60%;
    display: block;
    background: $floral-white;
    margin-top: 10px;
  }
}

@function toRem($value) {
  $remValue: calc($value / 16) + rem;
  @return $remValue;
}
