$purple-dark-v1: #2f195f;
$purple-dark-v2: #392f5a;
$floral-white: #fff8f0;
$white: #ffffff;
$b-shadow: 0px 16px 32px rgba(0, 0, 0, 0.16);

:root {
  --purple-dark-v1: #{$purple-dark-v1};
  --purple-dark-v2: #{$purple-dark-v2};
  --floral-white: #{$floral-white};
  --white: #{$white};
  --b-shadow: #{$b-shadow};
}
