@import "../colors-gradients.scss";
@import "../utilities.scss";
@import "../fonts.scss";

.experiences {
  &.certifications {
    .experience {
      @media (max-width: 520px) {
        flex-direction: column;
        align-items: center;
      }

      .brand-area {
        em {
          width: 150px;
          height: 150px;
        }
      }
    }
  }
}

.experience {
  position: relative;
  display: flex;
  gap: 20px;

  background-color: var(--white);
  border-radius: 4px;
  padding: 20px;
  box-shadow: var(--b-shadow);

  &::before {
    content: "";
    height: 100%;
    width: 4px;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &.bradesco {
    &::before {
      @extend %bradesco-gradient;
    }
  }

  &.gft {
    &::before {
      @extend %gft-gradient;
    }
  }

  &.frt {
    &::before {
      @extend %frito-frt-gradient;
    }
  }

  &.senac {
    &::before {
      @extend %senac-gradient;
    }
  }

  &.descomplica {
    &::before {
      background-color: #00ee87;
    }
  }

  &.aws-cloud-practitioner,
  &.aws-cloud-quest,
  &.aws-partner {
    &::before {
      background-color: #ff9900;
    }
  }

  .brand-area {
    em {
      display: block;
      width: 50px;
      height: 50px;
      background-size: contain;
      background-repeat: no-repeat;

      &.bradesco-logo {
        background-image: url("../../images/bradesco.jpg");
      }

      &.gft-logo {
        background-image: url("../../images/gft.jpg");
      }

      &.frt-logo {
        background-image: url("../../images/frt.jpeg");
      }

      &.frito-logo {
        background-image: url("../../images/frito.jpeg");
      }

      &.senac-logo {
        background-image: url("../../images/senac.jpeg");
      }

      &.descomplica-logo {
        background-image: url("../../images/descomplica.jpeg");
      }

      &.aws-cloud-practitioner-logo {
        background-image: url("../../images/aws-certified-cloud-practitioner.png");
      }

      &.aws-cloud-quest-logo {
        background-image: url("../../images/aws-cloud-quest-cloud-practitioner-training-badge.png");
      }

      &.aws-partner-logo {
        background-image: url("../../images/aws-partner-technical-accredited-training-badge.png");
      }
    }
  }

  .experience-details {
    display: flex;
    flex-direction: column;

    .experience-area {
      @extend %poppins-regular;
      margin-bottom: 10px;
    }

    .brand-details {
      margin-bottom: 20px;

      .experience-brand {
        @extend %poppins-semibold;
        margin-bottom: 4px;
      }

      .experience-time {
        @extend %poppins-extralight;
      }
    }

    .experience-description {
      p {
        @extend %poppins-light;
        line-height: toRem(22);

        &+p:not(:last-child) {
          margin-bottom: 15px;
        }

        &:first-child:not(:last-child) {
          margin-bottom: 15px;
        }
      }
    }
  }
}