@import "../utilities.scss";

footer {
  background: var(--purple-dark-v1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;

  p {
    font-size: toRem(10);
    color: var(--floral-white);
    font-weight: 200;
  }
}
