@import "../utilities.scss";
@import "../fonts.scss";

.skill {
  padding: 20px;
  background-color: var(--floral-white);
  border-radius: 4px;
  box-shadow: var(--b-shadow);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;

  svg {
    font-size: toRem(40);
  }

  .skill-title {
    @extend %poppins-semibold;
    color: var(--purple-dark-v2);
  }
}
