@import "./assets/scss/reset.scss";
@import "./assets/scss/variables.scss";

body {
  @extend %poppins;

  .title {
    margin-bottom: 30px;

    h2 {
      @include section-title;

      @media (max-width: 630px) {
        @include section-title(toRem(20));
      }
    }

    h3 {
      @include section-title(toRem(20));
    }
  }

  .text {
    @extend %poppins-extralight;
    line-height: toRem(22);
    color: $floral-white;
  }

  .mod-section {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 50px;
  }

  .container-limiter {
    max-width: 850px;
    margin: 0 auto;

    @media (max-width: 900px) {
      max-width: 700px;
    }

    @media (max-width: 767px) {
      max-width: none;
      padding: 0 20px;
    }
  }

  .about {
    @extend %gradient-v1;
  }
}
